<div class="container">
  <div class="row">
    <div class="col-md-4"> 
    	<a class="links-footer">Blogs</a>
    	<br/><br/>
    	<a class="links-footer">Career</a>
    </div>
    <div class="col-md-4">
    	<a class="links-footer">FAQ</a>
    	<br/><br/>
    	<a class="links-footer">Contact Us</a>
   	</div>
    <div class="col-md-4">
    	<a class="links-footer">Partner With Us</a>
    	<br/><br/>
    	<a class="links-footer">For Provider</a>
    </div>
  </div>
  <br/>
  <hr/>
  <div class="col-md-4"> 
  </div>
  <div class="col-md-4">
	<p class="links-footer" style="color: white;">CopyRight &copy; ORO 2016. All Rights Reserved</p>
  </div>
  <div class="col-md-4">
	<a class="links-footer">Privacy Policy</a>
	&nbsp; &nbsp;
	<a class="links-footer">Terms of Use</a>
  </div>
</div>
