<html>
<head>
  <link
    href='https://fonts.googleapis.com/css?family=Paytone+One|Luckiest+Guy|Righteous'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
  <div>
    <!--Navbar implemented here
           TODO: re write all the id names in a particular format which will be used across whole app--> 
      <!-- TODO: put this in a different file and include it here instead of having the whole code snippet here-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" id="logo-navbar" ui-sref="main">ORO</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="nav-dropdown" if-user ng-class="{active: isActive('/profile')}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="nav-usericon" class="glyphicon glyphicon-user"></span>
                            <strong id="nav-profilename">{{orouser.firstname}}</strong>
                            <span id="nav-dropdownicon" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                            </p>
                                        </div>
                                        <div id="nav-profiledetails" class="col-lg-8">
                                            <p class="text-left"><strong>{{orouser.fullname}}</strong></p>
                                            <p class="text-left small">{{orouser.username}}</p>
                                            <p class="text-left">
                                                <a href="#" class="btn btn-primary btn-block btn-sm" ui-sref="profile">Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider navbar-login-session-bg"></li>
                            <li class="navbar-login-session-bg">
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="#" class="btn btn-danger btn-block" ui-sref="main" sp-logout>Logout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li if-not-user>
                        <button type="button" class="btn btn-primary btn-lg"
                            data-toggle="modal" data-target="#modal-login" id="button-signin" ng-click="bIsSignUpAcitve = false">Sign In</button>
                    </li>
                    <li if-not-user>
                        <button type="button" class="btn btn-info btn-lg"
                            data-toggle="modal" data-target="#modal-login" id="button-signup" ng-click="bIsSignUpAcitve = true">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div>
      <div class="modal fade" id="modal-login" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content" id="modal-attr">
            <div ng-switch="bIsSignUpAcitve">
              <div  ng-switch-when="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">SIGN UP</h4>
                </div>
                <div class="modal-body">
                  <div sp-registration-form template-url="components/navbar/spRegistrationFormCustom.html" post-login-state="main"></div>
                </div>
              </div>
              <div  ng-switch-when="false">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">SIGN IN</h4>
                </div>
                <div class="modal-body">
                  <div sp-login-form template-url="components/navbar/spLoginFormCustom.html"></div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <span ng-hide="bIsSignUpAcitve">Not a User?
              <a ng-hide="bIsSignUpAcitve" href ng-click="bIsSignUpAcitve = true">Sign Up</a></span>

              <span ng-show="bIsSignUpAcitve">Already a User?
              <a ng-show="bIsSignUpAcitve" href ng-click="bIsSignUpAcitve = false">Sign In</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
